@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #fed766;
}

.cabecalho_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_imagem {
    height: 40px;
    padding: 0px 10px;
}

.cabecalho_titulo {
    color: #fed766;
    font-family: 'Righteous', cursive;
}

.cabecalho_subtitulo {
    font-family: 'Rubik', sans-serif;
}

.cabecalho_menu {
    display: flex;
}

.cabecalho_link {
    color: #fed766;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    padding: 20px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding: 100px;
}

.botão {
    border: 3px solid #fed766;
    border-radius: 50px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #3f3f3f;
    border-radius: 30px;
    
}

.rodape {
    position: absolute;
    bottom: 0;
    background-color: #fed766;
    width: 100%;
    height: 50px;
    line-height: 100px;
}